In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from pymongo import MongoClient
mongo_client = MongoClient('mongodb+srv://hack:1@cluster0.jsmw52r.mongodb.net/test')
db = mongo_client["test"]

In [4]:
print(db)

Database(MongoClient(host=['ac-dldzdxi-shard-00-02.jsmw52r.mongodb.net:27017', 'ac-dldzdxi-shard-00-00.jsmw52r.mongodb.net:27017', 'ac-dldzdxi-shard-00-01.jsmw52r.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-h6sk41-shard-0', tls=True), 'test')

In [5]:
mycoll = db["vehicles"]
print(db)

Database(MongoClient(host=['ac-dldzdxi-shard-00-02.jsmw52r.mongodb.net:27017', 'ac-dldzdxi-shard-00-00.jsmw52r.mongodb.net:27017', 'ac-dldzdxi-shard-00-01.jsmw52r.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-h6sk41-shard-0', tls=True), 'test')

In [6]:
one_record = mycoll.find_one()
print(one_record)

{'_id': ObjectId('63ecbf4126cb3afe11f44b8d'), 'vehicleNumber': 'MH12jk4343', 'nameWithModel': 'Test Vehicle', 'totalcapacity': 20000, 'availableCapacity': 3000, 'currSpeed': 60, 'currAcceleration': 0, 'enginePower': 100, 'fuelUsed': 0, 'currentLocation': {'latitude': 1.234567, 'longitude': 2.345678}, 'srcLocation': {'latitude': 1.234567, 'longitude': 2.345678}, 'destLocation': {'latitude': 2.345678, 'longitude': 3.456789}, 'mileage': 0, 'tyrePressure': 30, 'rpmEngine': '1000', 'pedalPosition': 0, 'airFlowRate': 0, 'coolantTemperature': 0, 'driverName': 'Aman', 'maintainenaceStatus': 0, 'distanceTravelled': 0, '__v': 0}

In [7]:
j=0
for i in one_record:
    print(str(j)+") "+i)
    j+=1

0) _id
1) vehicleNumber
2) nameWithModel
3) totalcapacity
4) availableCapacity
5) currSpeed
6) currAcceleration
7) enginePower
8) fuelUsed
9) currentLocation
10) srcLocation
11) destLocation
12) mileage
13) tyrePressure
14) rpmEngine
15) pedalPosition
16) airFlowRate
17) coolantTemperature
18) driverName
19) maintainenaceStatus
20) distanceTravelled
21) __v

In [8]:
all_records = mycoll.find()
print(all_records)

<pymongo.cursor.Cursor object at 0x7fcadb42a6e0>

In [9]:
list_cursor = list(all_records)
df = pd.DataFrame(list_cursor)

In [10]:
df.columns

Index(['_id', 'vehicleNumber', 'nameWithModel', 'totalcapacity',
       'availableCapacity', 'currSpeed', 'currAcceleration', 'enginePower',
       'fuelUsed', 'currentLocation', 'srcLocation', 'destLocation', 'mileage',
       'tyrePressure', 'rpmEngine', 'pedalPosition', 'airFlowRate',
       'coolantTemperature', 'driverName', 'maintainenaceStatus',
       'distanceTravelled', '__v'],
      dtype='object')

In [11]:
df2 = df[['currSpeed', 'currAcceleration', 'enginePower',
       'fuelUsed', 'mileage', 'tyrePressure', 'rpmEngine', 'pedalPosition', 'airFlowRate',
       'coolantTemperature', 'maintainenaceStatus',
       'distanceTravelled']].copy()

In [12]:
df2.insert(12,'work_status',[1]*len(df2))

In [13]:
df2

,currSpeed,currAcceleration,enginePower,fuelUsed,mileage,tyrePressure,rpmEngine,pedalPosition,airFlowRate,coolantTemperature,maintainenaceStatus,distanceTravelled,work_status
0,60,0,100,0,0,30,1000,0,0,0,0,0,1
1,0,0,100,0,0,30,1000,0,0,0,1,0,1
2,0,0,100,0,5,30,1000,0,0,0,1,10,1
3,0,0,100,0,5,30,1000,0,0,0,1,10,1
4,0,0,100,0,5,30,1000,0,0,0,1,10,1

In [15]:
df2.loc[(df2['tyrePressure'] < 25), 'work_status'] = 0

In [16]:
df2

,currSpeed,currAcceleration,enginePower,fuelUsed,mileage,tyrePressure,rpmEngine,pedalPosition,airFlowRate,coolantTemperature,maintainenaceStatus,distanceTravelled,work_status
0,60,0,100,0,0,30,1000,0,0,0,0,0,1
1,0,0,100,0,0,30,1000,0,0,0,1,0,1
2,0,0,100,0,5,30,1000,0,0,0,1,10,1
3,0,0,100,0,5,30,1000,0,0,0,1,10,1
4,0,0,100,0,5,30,1000,0,0,0,1,10,1

In [17]:
# Parameters for checkind work_status

# tyrePressure
# currSpeed and enginePower
# currSpeed and rpmEngine
# pedalPosition and airFlowRate
# coolantTemperature
# maintainanceStatus and distanceTravelled
# mileage fuelUsed